<h1><%= @group.name %></h1>
<% if @group.owner != current_user %>
  <%= button_to 'Join this group', group_memberships_path(group_id: @group.id), method: :post %>
<% else %>
  <%= button_to 'Leave this group', group_membership_path(current_user.id, @group.id), method: :delete %>
<% end %>